body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-bg {
  margin-bottom: 0rem;
  padding-top: 24px;
  padding-bottom: 15rem;
}
.header img {
  padding-left: 80px;
  width: 7%;
}
.header-menu {
  padding: 16px 0px
  font-size: 1.5rem;
  display: flex;
  gap: 50px;
}
.header-menu a {
  display: inline-block;
  padding: 1.2rem;
  color: rgb(112, 111, 111);
  font-size: 1.5rem;
  display: flex;
  gap: 120px;
}
.logar {
  margin-right: 80px;
  margin-left: 80px;
  display: inline-block;
  border: 1px solid rgb(192, 192, 192);
  border-width: 3px;
  border-radius: 28px;
  transition: background-color 1.5s ease, color 1s ease;
}
.header-logar a {
  font-size: 25px;
  color: rgb(0, 0, 0);
  padding: 1.2rem;
}
.introducao-bg {
padding-bottom: 15rem;
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.introducao h1 {
  grid-column: 1;
  font-size: 50px;
  margin-left: 80px;
  max-width: 20ch;
}
span {
  color: blueviolet;
}
.introducao p {
  grid-column: 1;
  font-size: 18px;
  margin-left: 80px;
  max-width: 60ch;
}
.introducao ul {
  display: inline-block;
  grid-column: 1;
  margin-left: 60px;
}
.introducao ul {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.criar-cor {
  color: rgb(255, 255, 255);
  display: inline-block;
  background-color: blueviolet;
  padding: 20px 40px;
  border-radius: 24px;
}
.criar-border {
  color: black;
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid rgb(192, 192, 192);
  border-width: 3px;
  border-radius: 28px;
}
.logos-sociais {
  display: inline-block;
  grid-column: 1;
  margin-left: 80px;
}
.instagram-logo {
  width: 2.2rem;
  transition: transform 1s ease;
}
.twitter-logo {
  width: 2.2rem;
  margin-left: 2rem;
  transition: transform 1s ease;
}
.introducao-imagem {
  display: inline-block
  grid-column: 2;
}
.imagem-intro {
  margin-left: 17rem;
margin-top: -30rem;
width: 582px;
height: 489px;
}
.rodape-meio {
  margin-left: 500px;
  display: inline-block;
  margin-bottom: 15rem;
  transition: color 0.3s ease;
}
.rodape-meio h1 {
  font-size: 32px;
  max-width: 80ch;
  color: black;
}
.rodape-p {
  color: rgb(109, 107, 107);
  margin-left: 200px;
  font-size: 26px;
}
.p-inferior {
  color: rgb(109, 107, 107);
  margin-left: 150px;
  max-width: 62ch;
  font-size: 21px; 
}
.nossos-servicos {
}
.container-servicos1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15rem;
}
.servicos {
  margin-left: 80px;
  font-size: 40px;
  color: blueviolet;
}
.servicos1 {
margin-bottom: 0px;
color: blueviolet;
font-size: 60px;
margin-left: 80px;
}
.servicos1 h1 {
  font-size: 40px;
  width: 25ch;
  margin-left: 80px;
}
.servicos1 span {
  display: inline-block;
  color: blueviolet;
  border: solid;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 24px;
  border-width: 3px;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 15rem;
}
.servicos1 p {
  margin-left: 0px;
  color: #817f7f;
  font-size: 18px;
}
.servicos1-imagem {
  margin-top: 8rem;
  margin-left: 24rem;
}
.nossos-servicos2 {
  display: grid;
  grid-column: 1fr 1fr;
  margin-bottom: 15rem;
}
.servicos2-img {
  margin-top: -5rem;
  margin-left: 80px;
}
.servicos2 span {
  display: inline-block;
  color: blueviolet;
  border: solid;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 24px;
  border-width: 3px;
  font-size: 25px;
}
.servicos2 {
  grid-column: 2;
}
.servicos2 h1 {
  font-size: 40px;
  width: 25ch;
}
.servicos2 p {
  margin-left: -0px;
  font-size: 18px;
  width: 60ch;
  color: rgb(145, 143, 143);
}
.servicos2 {
  margin-left: 20rem;
}
.nossos-servicos3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15rem;
}
.servicos3-bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15rem;
}
.servicos3 span {
  display: inline-block;
  color: blueviolet;
  border: solid;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 24px;
  border-width: 3px;
  font-size: 25px;
  margin-left: 80px;
}
.servicos3 h1 {
  font-size: 40px;
  width: 25ch;
  margin-left: 80px;
}
.servicos3 p {
 margin-left: -20px;
  font-size: 18px;
  width: 60ch;
  margin-left: 80px;
}
.servicos3-img {
  margin-left: 16.5rem;
} 
.nossos-servicos4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15rem;
}
.servicos4 {
  margin-left: 15rem;
}
.servicos4 span {
  display: inline-block;
  color: blueviolet;
  border: solid;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 24px;
  border-width: 3px;
  font-size: 25px;
  margin-left: 80px;
}
.servicos4 h1 {
  margin-left: 80px;
  width: 25ch;
  font-size: 40px;
}
.servicos4 p {
  width: 55ch;
  font-size: 18px;
}
.servicos4-imagem {
  margin-left: 80px;
}
.nossos-servicos5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.servicos5 span {
  display: inline-block;
  color: blueviolet;
  border: solid;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 24px;
  border-width: 3px;
  font-size: 25px;
  margin-left: 80px;
}
.servicos5 h1, p {
  margin-left: 80px;
}
.servicos5 h1 {
  width: 25ch;
  font-size: 40px;
}
.servicos5 p {
  width: 55ch;
  font-size: 18px;
}
.servicos5-imagem {
  margin-left: 18.5rem;
}
.final1-bg {
}
.final1 h1 {
  font-size: 60px;
  margin-left: 80px;
}
.final1 p {
  font-size: 18px;
  color: #7a7979;
  margin-bottom: 7rem;
}
.opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 80px;
  gap: 40px;
  margin-bottom: 15rem;
}
.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10rem;
}
.cadastro h1 {
font-size: 40px;
margin-left: 80px;
}
.cadastro p {
  grid-column: 1;
  font-size: 18px;
}
.cadastro-criar {
  grid-column: 1;
  margin-top: 20px;
  margin-left: 80px;
  padding: 17px 16px;
  border-radius: 22px;
  font-size: 17px;
  width: 90px;
  height: 26px;
  color: aliceblue;
  background-color: rgb(178, 6, 212)
}
.pac {
  margin-left: 16rem;
  margin-top: -8rem;
  grid-column: 2;
}
.ajuda {
  margin-bottom: 5.5rem;
}
.ajuda h1 {
  margin-left: 80px;
  font-size: 40px;
}
.ajuda p {
  font-size: 18px;
  width: 60ch;
}
.duvidas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 80px;
  margin-bottom: 15rem;
}
.duvidas h1 {
  font-size: 40px;
}
.duvidas p {
  font-size: 18px;
  margin: 0px;
  margin-top: -15px;
  width: 30ch;
}
.duvidas a {
  display: inline-block;
  color: blueviolet;
  font-weight: bold;
  text-decoration: underline;
}
.saiba {
  margin-top:  3.2rem;
}
.enviar {
  margin-top: 2rem;
}
.abrir-chat {
  margin-top:  3.2rem;
}
.linha {
  height: 3px;
  background-color: rgb(216, 215, 215);
  width: 100%;
  margin-bottom: 8rem;
}
.final{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 80px;
}
.insta-final {
  width: 30px;
}
.twitter-final {
  width: 30px;
}
.final a {
  display: flex;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.final img {
  display: flex;
  font-size: 20px;
}
.logos-finais {
  display: flex;
  margin-top: 2rem;
  gap: 20px;
}
.rodapee{
  font-size: 20px;
  margin-top: 8rem;
  margin-bottom: 3rem;
}


@media screen and (max-width: 450px) {

  .header {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: -4rem;
  }
  .header a {
    display: none;
  }
  .header img {
    margin-left: -4rem;
    width: 8rem;
  }
.introducao p {
font-size: 20px;
margin-left: 1rem;
max-width: 30ch;
margin-top: -7rem;
}
.introducao h1 {
  font-size: 30px;
  margin-left: 1rem;
  max-width: 25ch;
  margin-top: -4.5rem;
}
.criar-cor {
  display: inline-block;
  margin-left: -4.5rem;
  width: 6rem;
  font-size: 18px;
}
.criar-border {
  font-weight: bold;
  font-size: 20px;
}
.logos-sociais {
  display: none;
}
.imagem-intro {
  margin-top: 10rem;
  margin-left: -23rem;
  width: 345px;
  height: 293px;
  margin-bottom: -8rem;
}
.rodape-meio {
  margin-left: -11.5rem;
  max-width: 100ch;
}
.rodape-p {
  max-width: 80ch;
  font-size: 18px;
}
.rodape-meio h1 {
  font-size: 22px;
  max-width: 25ch;
  margin-left: 13.5rem;
}
.p-inferior {
  font-size: 22px;
  max-width: 25ch;
  margin-left: 14rem;
}
.servicos {
  margin-top: -13rem;
  margin-left: 2rem;
  max-width: 30ch;
font-size: 24px;
}
.servicos1 span {
  margin-top: 3rem;
margin-left: -3rem;
}
.servicos1 h1 {
  font-size: 24px;
margin-left: -3rem;
}
.servicos1 p {
  font-size: 16px;
}
.servicos1-imagem {
width: 200px;
height: 200px;
margin-left: -25rem;
}
}