body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
.header-bg {
  margin-bottom: 25rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
  margin-left: auto
  margin-right: auto
  max-width: 1280px;
  height: 144px;
}
.header img {
  width: 7%;
}
.header-menu {
  padding: 16px 0px
  font-size: 1.5rem;
  display: flex;
  gap: 120px;
}
.header-menu a {
  display: inline-block;
  padding: 1.2rem;
  color: rgb(112, 111, 111);
  font-size: 1.5rem;
  display: flex;
  gap: 120px;
}
.menu-entrar a {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.entrar {
  margin-right: 80px;
  margin-left: 80px;
  display: inline-block;
  border: 1px solid rgb(192, 192, 192);
  border-width: 3px;
  border-radius: 28px;
}
.intro-bg {
  margin-bottom: 20rem;
}
.introducao{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  padding: 24px 80px;
  margin-left: auto
  margin-right: auto
  max-width: 1280px;
  height: 144px;
}
.intro-esquerda{
  flex: 1;
}
.intro-esquerda p{
font-size: 20px;
color:  #00000099;
}
.intro-esquerda h1 {
  font-size: 60px;
  width: 20ch;
}
.intro-esquerda h1 span {
  color: #a855f7;
}
.botoes {
  margin-top: 20px;
}
.btn-criar, .btn-entrar {
  padding: 26px 30px;
  font-size: 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  margin-bottom: 2rem;
}
.btn-criar{
  background-color: #a855f7;;
  color: white;
  border: ;
}
.btn-entrar {
  background-color: white;
  color: black;
  border: 1px solid rgb(211, 208, 208);
}
.social-logo {
  display: flex;
  gap: 30px;
 }
 .insta {
 width: 40px;
 }
 .twitter {
width: 40px;
 }
.intro-direita{
  flex: 1;
  display: flex;
  justify-content: center;
}
.imagem-intro {
  max-width: 100%;
margin-right: 80px;
}
.rodape-bg {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 10rem;
}
.rodape{
 padding: 20px;
 text-align: center;
}
.rodape h2 {
  color: #00000099;
font-size: 24px;
}
.rodape h1 {
  font-size: 32px;
}
.rodape p {
  width: 60ch;
  margin-left: 8rem;
  font-size: 19px;
}
.meio-bg {
}
.meio {
  padding: 24px 80px;
  margin-left: auto
  margin-right: auto
  max-width: 1291px;
  height: 3095px;
}
.servicos {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servicos h1 {
  color: #a855f7;
  font-size: 60px;
  margin-bottom: 15rem;
}
.servicos img {
  margin-top: -12rem;
}
.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20rem;
}
.servicos-1 span {
  padding: 10px 16px;
font-size: 40px;
border-radius: 24px;
text-align: center;
line-height: 50px;
color: #a855f7;
border: 1px solid #B852FF;
}
.servicos-1 h1 {
  font-size: 60px;
  width: 25ch;
}
.servicos-1 p {
  font-size: 18px;
  width: 60ch;
}
.servicos-1-direito {
  width: 407px;
  height: 407px;
  top: 134px;
  margin-top: -4rem;
  margin-left: 37rem;
  margin-right: 80px;
}
.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20rem;
}
.servicos-2 {
  grid-column: 2;
  margin-left: 200px;
}
.servicos-2 span {
  padding: 10px 16px;
  font-size: 40px;
  border-radius: 24px;
  text-align: center;
  line-height: 50px;
  color: #a855f7;
  border: 1px solid #B852FF;
}.servicos-2 h1 {
  font-size: 60px;
  width: 25ch;
}
.servicos-2 p {
  font-size: 18px;
  width: 60ch;
}
.servicos-2-imagem {
  grid-column: 1;
  margin-top: -25rem;
}
.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20rem;
}
.servicos-3 span {
  padding: 10px 16px;
  font-size: 40px;
  border-radius: 24px;
  text-align: center;
  line-height: 50px;
  color: #a855f7;
  border: 1px solid #B852FF;
}
.servicos-3 h1 {
  font-size: 60px;
  width: 25ch;
}
.servicos-3 p {
  font-size: 18px;
  width: 60ch;
}
.servicos-3-imagem {
  margin-left: 500px;
}
.container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20rem;
}
.servicos-4 {
  grid-column: 2;
  margin-left: 200PX;
}
.servicos-4 span {
  padding: 10px 16px;
  font-size: 40px;
  border-radius: 24px;
  text-align: center;
  line-height: 50px;
  color: #a855f7;
  border: 1px solid #B852FF;
}
.servicos-4 h1 {
  font-size: 60px;
  width: 25ch;
}
.servicos-4 p {
  font-size: 18px;
  width: 60ch;
}
.servicos-4-imagem {
  margin-left:40px;
  margin-top: -20rem;
}
.recursos {
  margin-bottom: 20rem;
}
.recursos- {
  margin-left: 80px;
}
.recursos- h1 {
  font-size: 60px;
}
.recursos- span {
  color: #a855f7;
}
.recursos- p {
  font-size: 18px;
  color: rgb(143, 139, 139);
  margin-bottom: 7rem;
}
.opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 80px;
  gap: 40px;
}
.cadastro-bg {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20rem;
}
.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cadastro-1 h1 {
  font-size: 60px;
}
.cadastro-1 p {
  font-size: 18px;
  margin-bottom: 3rem;
}
.criar-btn {
  padding: 26px 30px;
  font-size: 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  color: white;
  background-color:#B852FF
}
.cadastro-img {
   margin-left: 350px;
}
.ajuda-bg {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20rem;
}
.ajuda-1 h1 {
  font-size: 60px;
}
.ajuda-1 p{
  font-size: 20px;
  width: 62ch;
  margin-bottom: 6rem;
}
.ajuda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 550px;
}
.ajuda h1 {
  font-size: 24px;
}
.ajuda p {
  font-size: 18px;
  width: 33ch;
  margin-bottom: 3rem;
}
.ajuda a {
  font-size: 20px;
  text-decoration: underline;
}
.linha {
    height: 3px;
    background-color: rgb(216, 215, 215);
    width: 100%;
    margin-bottom: 10rem;
}
.final{
  display: flex;
  justify-content: space-between;
  margin-left: auto
  margin-right: auto
  max-width: 1280px;
  height: 284px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 80px;
  gap: 600px;
}
.insta-final {
  width: 30px;
}
.twitter-final {
  width: 30px;
}
.final a {
  display: flex;
  color: rgb(165, 162, 162);
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}
.final img {
  display: flex;
  font-size: 20px;
}
.logos-finais {
  display: flex;
  margin-top: 2rem;
  gap: 20px;
}
.rodape-final{
  font-size: 20px;
  margin-top: 15rem;
  margin-bottom: 3rem;
}